<div id="main-page-header" class="page-header">
	<h4>Shop All <%= Spree.t( :products ) %></h4>
</div>

<div id="featured" class="col-sm-12">
	<div class="row">
		<div id="col-left" class="col-sm-6">
			<img data-src="holder.js/100%x400/sky" class="img-responsive img-thumbnail" alt="Main Feature" style="width: 100%; height: 400px;">
		</div>

		<div id="col-right" class="col-sm-6">
			<div class="row">
				<div id="col-right-left" class="col-sm-6">
					<img data-src="holder.js/100%x250/social" class="img-responsive img-thumbnail" alt="Feature Two" style="width: 100%; height: 250px;">
				</div>

				<div id="col-right-right" class="col-sm-6">
					<div class="list-group">
						<%= link_to '#', class: 'list-group-item active' do %>
							NMTx Particles <span class="glyphicon glyphicon-chevron-right"></span>
						<% end %>

						<%= link_to '#', class: 'list-group-item active' do %>
							NMTx Reagents <span class="glyphicon glyphicon-chevron-right"></span>
						<% end %>

						<%= link_to '#', class: 'list-group-item active' do %>
							Other Featured Product(s) <span class="glyphicon glyphicon-chevron-right"></span>
						<% end %>

						<%= link_to '#', class: 'list-group-item active' do %>
							New Products <span class="glyphicon glyphicon-chevron-right"></span>
						<% end %>

						<%= link_to '#', class: 'list-group-item active' do %>
							Promotions <span class="glyphicon glyphicon-chevron-right"></span>
						<% end %>
					</div>
				</div>
			</div>

			<div class="row">
				<div id="col-right-bottom" class="col-sm-12">
					<img data-src="holder.js/100%x140/lava" class="img-responsive img-thumbnail" alt="Feature Three" style="width: 100%; height: 140px;">
				</div>
			</div>
		</div>
	</div>
</div>
