<div class="article_details">
  <%= Spree.t( :posted_on ) %> <span class="article_date"><%= l( article.published_at, format: :news_date ) %></span>

  <% unless article.author.blank? %>
    <%= Spree.t( :by ) %> <%= link_to article.author.email, '#', class: 'article_author' %>
  <% end %>.

  <% unless article.category_list.empty? %>
    <%= Spree.t( :posted_in ) %> <%= article_category_list_html article %>.
  <% end %>

  <% unless article.tag_list.empty? %>
    <%= Spree.t( :tagged ) %> <%= article_tag_list_html article %>.
  <% end %>
</div>
