<% @body_id = 'news' %>

<div id="col-left" class="col-sm-4">
	<div class="page-header">
		<h4><%= Spree.t( :news ) %></h4>
	</div>

	<div class="col-content">
  	<%= render partial: 'spree/articles/sidebar_show' %>
  </div>
</div>

<div id="col-right" class="col-sm-8">
  <div class="page-header">
    <h4><%= @article.title %></h4>
  </div>

  <div class="col-content">
  	<%== @article.body %>

    <%= render partial: 'spree/articles/article_details', locals: { article: @article } %>
  </div>
</div> 
