<% content_for :page_title do %>
   <%= Spree.t( :news_articles ) %><i class="icon-arrow-right"></i> <%= Spree.t( :news_new_article ) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t( :back ), spree.admin_news_articles_url, icon: 'icon-arrow-left' %></li>
<% end %>

<%= render partial: 'spree/admin/shared/content_sub_menu' %>
<%= render 'spree/shared/error_messages', target: @news_article %>

<%= form_for [ :admin, @news_article ] do | f | %>
  <%= render partial: f %>
  <%= render partial: 'spree/admin/shared/edit_resource_links' %>
<% end %>
