<% content_for :page_title do %>
  <%= Spree.t( :listing_banners ) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_banner_link">
    <%= button_link_to Spree.t( :new_banner ), new_object_url, { remote: true, icon: 'icon-plus', id: 'admin_new_banner' } %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t( :filter ) %>
<% end %>

<% content_for :sidebar_table_filter do %>
  <div data-hook="admin_banner_sidebar">
    <%= search_form_for [ :admin, @search ] do | f | %>
      <%- locals = { f: f } %>
      
      <div data-hook="admin_banners_index_search">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= f.check_box :enabled_true %>
                  <%= Spree.t( :show_only_enabled ) %>
                </label>
              </div>
            </div>
          </div>
        </div>
     
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group actions">
              <%= button Spree.t( :filter ), 'icon-search' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-sm-12">
  <div id="new_banner_wrapper" class="row" data-hook></div>
  
  <% @categories.each do | id, category | %>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="sub-header"><%= category %></h4>
          
        <% if @collection[ id ].any? %>
          <div class="table-responsive">
            <table class="table table-striped table-hover sort">
              <colgroup>
                <col style="width: 10%">
                <col style="width: 15%;">
                <col style="width: 45%;">
                <col style="width: 10%;">
                <col style="width: 20%;">
              </colgroup>

              <thead>
                <tr data-hook="admin_banner_index_headers">
                  <th colspan="2"><%= Spree.t( :thumbnail ) %></th>
                  <th><%= Spree.t( :url ) %></th>
                  <th><%= Spree.t( :enabled ) %></th>
                  <th data-hook="admin_banner_index_header_actions" class="actions"></th>
                </tr>
              </thead>

              <tbody>
                <% @collection[ id ].each do | banner | %>
                  <tr id="<%= spree_dom_id banner %>" data-hook="admin_banners_index_rows">
                    <td><span class="glyphicon glyphicon-bars sort-handle"></span></td>
                    <td><%= image_tag banner.attachment( :mini ) %></td>
                    <td><%= banner.url      rescue '' %></td>
                    <td class="banner-enabled"><span class="glyphicon <%= banner.enabled? ? 'glyphicon-ok-circle' : 'glyphicon-ban-circle' %>"></span></td>

                    <td class="actions" data-hook="admin_banner_index_row_actions">
                      <div class="btn-group">
                        <%= link_to_edit   banner, no_text: true %>
                        <%= link_to_clone  banner, no_text: true %>
                        <%= link_to_delete banner, no_text: true %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="no-objects-found">
            <%= Spree.t( :no_results ) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>