<% content_for :page_title do %>
  <%= Spree.t( :listing_banners ) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_banner_link">
    <%= button_link_to Spree.t( :new_banner ), new_object_url, { remote: true, icon: 'icon-plus', id: 'admin_new_banner' } %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t( :search ) %>
<% end %>

<% content_for :sidebar_table_filter do %>
  <div data-hook="admin_banner_sidebar">
    <%= search_form_for [ :admin, @search ] do | f | %>
      <%- locals = { f: f } %>
      
      <div data-hook="admin_banners_index_search">
        <div class="alpha four columns">
          <div class="field">
            <%= f.label  :category_eq, Spree.t( :category ) %>
            <%= f.select :category_eq, Spree::Banner.categories_for_select, { include_blank: true }, { class: 'select2 fullwidth' } %>
          </div>
        </div>

        <div class="eight columns">
          <div class="field">
            <%= f.label      :url_cont, Spree.t( :url ) %>
            <%= f.text_field :url_cont, size: 15 %>
          </div>
        </div>

        <div class="three columns omega">
          <div class="field checkbox">
            <label>
              <%= f.check_box :enabled_true %>
              <%= Spree.t( :show_only_enabled ) %>
            </label>
          </div>
        </div>

        <div class="clear"></div>

        <div class="form-buttons actions filter-actions" data-hook="admin_banners_index_search_buttons">
          <%= button Spree.t( :search ), 'icon-search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-sm-9">
<div id="new_banner_wrapper" data-hook></div>

<%= paginate @collection %>

<% if @collection.any? %>
  <table class="index sortable" id="listing_banners">
    <colgroup>
      <col style="width: 5%">
      <col style="width: 15%;">
      <col style="width: 10%;">
      <col style="width: 10%;">
      <col style="width: 17%;">
    </colgroup>
  
    <thead>
      <tr data-hook="admin_banner_index_headers">
        <th colspan="2"><%= Spree.t( :thumbnail ) %></th>
        <th><%= sort_link @search, :category, Spree.t( :category ), { default_order: 'desc' }, { title: 'admin_banners_listing_category_title' } %></th>
        <th><%= sort_link @search, :url,      Spree.t( :url ),      { default_order: 'desc' }, { title: 'admin_banners_listing_url_title' } %></th>
        <th data-hook="admin_banner_index_header_actions" class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @collection.each do | banner | %>
        <tr id="<%= spree_dom_id banner %>" data-hook="admin_banners_index_rows" class="<%= cycle( 'odd', 'even' ) %>">
          <td class="no-border"><span class="handle"></span></td>
          <td class="align-center"><%= image_tag( banner.attachment( :mini ) ) %></td>
          <td class="align-center"><%= banner.category rescue '' %></td>
          <td class="align-center"><%= banner.url rescue '' %></td>

          <td class="actions" data-hook="admin_banner_index_row_actions">
            <%= link_to_edit   banner, no_text: true, class: 'edit' %>
            &nbsp;
            <%= link_to_clone  banner, no_text: true, class: 'clone' %>
            &nbsp;
            <%= link_to_delete banner, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t( :no_results ) %>
  </div>
<% end %>

<%= paginate @collection %>
</div>