<div class="masthead" role="banner">
	<div class="row">
		<div id="masthead-brand" class="col-sm-7">
			<h3>Nanomedtrix <small>Small particles for a large contrast</small></h3>
		</div>

		<div class="clearfix visible-xs"></div>

		<div id="masthead-search" class="col-sm-5">
			<%= render 'spree/shared/search' %>
		</div>
	</div>

	<ul id="navigation" class="nav nav-justified" role="navigation">
		<li><%= link_to 'Home', spree.root_path %></li>
		<li><%= link_to 'Technology', '#' %></li>
		<li><%= link_to 'Gallery', '#' %></li>
		<li><%= link_to 'Products', spree.products_path %></li>
	</ul>
</div>
