<div class="masthead" role="banner">
	<div class="row">
		<div id="masthead-brand" class="col-sm-7">
			<%= insert_logo %>
		</div>

		<div class="clearfix visible-xs"></div>

		<div id="masthead-search" class="col-sm-5">
			<%= render 'spree/shared/search' %>
		</div>
	</div>

	<ul id="navigation" class="nav nav-justified" role="navigation">
		<li><%= link_to 'Home', spree.root_path %></li>
		<li><%= link_to 'NMTx Technologies', spree.nested_taxons_path({ id: 'brand/nmtx' }) %></li>
		<li><%= link_to 'All Products', spree.products_path %></li>
		<li><%= link_to 'Technical Resources', '#' %></li>
	</ul>
</div>
