<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <%= form_for resource, as: :spree_user, url: spree.registration_path( @user ), html: { class: 'form-horizontal' } do | f | %>
      <div class="form-group">
        <%= f.label       :email, Spree.t( :email ) %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.label          :password, Spree.t( :password ) %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="form-group">
        <%= f.label          :password_confirmation, Spree.t( :confirm_password ) %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit Spree.t( :create ), class: 'btn btn-lg btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
