<% @body_id = 'login' %>

<div id="col-left" class="col-sm-7">
	<div class="page-header">
		<h4><%= Spree.t( :login_as_existing ) %></h4>
	</div>

	<div class="col-content">
		<%= render 'spree/shared/login' %>
	</div>
</div>

<div id="col-right" class="col-sm-5">
	<div class="page-header">
		<h4><%= "#{ Spree.t( :new_customer ) }?" %></h4>
	</div>

	<div class="col-content">
		<p>
			<%= link_to spree.signup_path, class: 'btn btn-lg btn-success btn-block' do %> 
        <%= Spree.t( :create_a_new_account ) %> <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
		</p>
	</div>
</div>
